/bootstrap/font
/bootstrap/img
/bootstrap/js/addons
/bootstrap/js/modules
/bootstrap/js/bootstrap.js
/bootstrap/js/bootstrap.min.js
/bootstrap/js/jquery.js
/bootstrap/js/jquery.min.js
/bootstrap/js/mdb.js
/bootstrap/js/mdb.min.js
/bootstrap/js/popper.js
/bootstrap/js/popper.min.js
/bootstrap/scss
/bootstrap/css/addons
/bootstrap/css/modules
/bootstrap/css/bootstrap.css
/bootstrap/css/bootstrap.min.css
/bootstrap/css/mdb.css
/bootstrap/css/mdb.lite.min.css
/bootstrap/css/mdb.min.css
/bootstrap/css/mdb.lite.css
/music
/uploads

!.gitignore
